
.workbench {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 30%;
}

.toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 12px;
}

.pattern-settings {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 12px;
}

button {
  border-radius: 0;
  height: 50px;
  width: 100px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical button {
  height: 29px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row input {
  width: 100px;
}